@model Ogrenci
<form asp-controller="Ogrenci" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="OgrenciAdi" class="form-label" >Öğrenci Adı</label>
        <input asp-for="OgrenciAdi" class="form-control" >
    </div>
    <div>
        <label asp-for="OgrenciSoyadi" class="form-label" >Öğrenci Soyadı</label>
        <input asp-for="OgrenciSoyadi" class="form-control" >
    </div>

    <div>
        <label asp-for="Eposta" class="form-label" >E-Posta</label>
        <input asp-for="Eposta" class="form-control" >
    </div>

    <div>
        <label asp-for="Telefon" class="form-label" >Telefon</label>
        <input asp-for="Telefon" class="form-control" >
    </div>

    <button type="submit" class="btn btn-primary mt-3">Kaydet</button>

</form>