@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba!</h1>
    <p>Bu uygulama bir ASP.NET Core MVC uygulamasıdır.</p> <br><br><br><br>
    <p>Bu uygulama ile, Öğrenci, Kurs, Öğretmen kayıtlarını SQLite ile kaydedebilir ve aralarında ilişki kurabilirsiniz.</p>
</div>
