@model Ogretmen
<h4>Öğretmen Güncelleme</h4> 
<hr>
<div class="row">
    <div class="col-8">

        <form asp-controller="Ogretmen" asp-action="Edit" method="post">
            <input type="hidden" asp-for="OgretmenId">
            <div class="mb-3">
                <label asp-for="OgretmenAdi" class="form-label" >Öğrenci Adı</label>
                <input asp-for="OgretmenAdi" class="form-control" >
            </div>
            <div>
                <label asp-for="OgretmenSoyadi" class="form-label" >Öğrenci Soyadı</label>
                <input asp-for="OgretmenSoyadi" class="form-control" >
            </div>
        
            <div>
                <label asp-for="Eposta" class="form-label" >E-Posta</label>
                <input asp-for="Eposta" class="form-control" >
            </div>
        
            <div>
                <label asp-for="Telefon" class="form-label" >Telefon</label>
                <input asp-for="Telefon" class="form-control" >
            </div>
        
            <button type="submit" class="btn btn-primary mt-3 mb-3">Kaydet</button>
        
        </form>

        <a href="/Ogretmen/Index" class="btn btn-secondary" >Geri Dön</a>
            
    </div>

    <div class="col-4">
        <h4>Kurs Listesi</h4>
        <hr>

        <ul>
  
        </ul>

    </div>

</div>



  