@model Kurs
<form asp-controller="Kurs" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label" >Kurs Adı</label>
        <input asp-for="Baslik" class="form-control" >
    </div>

    <button type="submit" class="btn btn-primary mt-3 mb-3">Kurs Ekle</button>

</form>
    

    <a href="/Kurs/Index" class="btn btn-secondary" >Kurs Listesi</a>