@model IEnumerable<Kurs>

    <table class="table">
        <thead>
            <tr>
                <th>Kurs Id</th>
                <th>Kurs Adı</th>
                <th>İşlemler</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var kurs in Model)
            {
                <tr>
                    <td>@kurs.KursId</td>
                    <td>@kurs.Baslik</td>
                    <td>
                        <a asp-controller="Kurs" asp-action="Edit" asp-route-id="@kurs.KursId" class="btn btn-primary" >Edit</a>
                        <a asp-controller="Kurs" asp-action="Delete" asp-route-id="@kurs.KursId"class="btn btn-danger" >Delete</a>
                    </td>
                </tr>
                
            }
            
        </tbody>


    </table>

    <a href="/Kurs/Create" class="btn btn-info" >Yeni Kurs Ekle</a>