@model IEnumerable<Kurs>

    <table class="table">
        <thead>
            <tr>
                <th>Kurs Id</th>
                <th>Kurs Adı</th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>


    </table>

    <a href="/Kurs/Create" class="btn btn-info" >Yeni Kurs Ekle</a>